---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedIn from "../components/Icons/LinkedIn.astro";
import Github from "../components/Icons/Github.astro";
import Facebook from "../components/Icons/Facebook.astro";
import Instagram from "../components/Icons/Instagram.astro";
import Experience from "../components/Experience.astro";
import Maleta from "../components/Icons/Maleta.astro";
import Skill from "../components/Icons/Skill.astro";
import Code from "../components/Icons/Code.astro";
import Projects from "../components/Projects.astro";
import Net from "../components/Icons/Net.astro";
import PowerBi from "../components/Icons/Power_Bi.astro";
import Mysql from "../components/Icons/Mysql.astro";
import Bootstrap from "../components/Icons/Bootstrap.astro";
import Sparql from "../components/Icons/Sparql.astro";
import Python from "../components/Icons/Py.astro";
import Firebase from "../components/Icons/Firebase.astro";
import Tailwind from "../components/Icons/Tailwind.astro";
import Spring from "../components/Icons/Spring.astro";
import Kotlin from "../components/Icons/Kotlin.astro";
import Oracle from "../components/Icons/Oracle.astro";
import Postgres from "../components/Icons/Postgres.astro";
import waos from "../components/Icons/waos.astro";

const habilidades = [
  {
    name: ".Net",
    class:
      "bg-[#fffff] text-black dark:text-purple-400 border border-purple-400",
    icon: Net,
  },
  {
    name: "Power Bi",
    class: "",
    icon: PowerBi,
  },
  {
    name: "Mysql",
    class: "bg-[#fffff] text-black dark:text-blue-400 border border-blue-400",
    icon: Mysql,
  },
  {
    name: "Bootstrap",
    class:
      "bg-[#fffff]  text-black dark:text-purple-400 border border-purple-400",
    icon: Bootstrap,
  },
  {
    name: "SparQL",
    class: "bg-[#fffff]  text-black dark:text-blue-400 border border-blue-400",
    icon: Sparql,
  },
  {
    name: "Python",
    class: "bg-[#fffff]  text-black dark:text-blue-400 border border-blue-400",
    icon: Python,
  },
  {
    name: "Firebase",
    class: "bg-[#fffff]  text-black dark:text-blue-400 border border-blue-400",
    icon: Firebase,
  },
  {
    name: "Tailwind",
    class: "bg-[#fffff]  text-black dark:text-blue-400 border border-blue-400",
    icon: Tailwind,
  },
  {
    name: "Spring",
    class: "bg-[#fffff]  text-black dark:text-blue-400 border border-blue-400",
    icon: Spring,
  },
  {
    name: "Kotlin",
    class: "bg-[#fffff]  text-black dark:text-blue-400 border border-blue-400",
    icon: Kotlin,
  },
  {
    name: "Oracle",
    class: "bg-[#fffff]  text-black dark:text-blue-400 border border-blue-400",
    icon: Oracle,
  },
  {
    name: "Postgres",
    class: "bg-[#fffff]  text-black dark:text-blue-400 border border-blue-400",
    icon: Postgres,
  },
];
---

<Layout title="Porfolio de tom - Desarrollador web" description="Waos">
  <main class="px-4">
    <SectionContainer class="py-24 md:py-36 pb-16 md:pb-24" id="sobre-mi">
      <img
        src="/waos.jpg"
        alt="Tom-photo"
        class="rounded-full w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 mb-4"
      />

      <h1
        class="text-gray-800 dark:text-white text-3xl text-pretty md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-4 md:pb-6 lg:pb-10"
      >
        Hola, Soy Johan
        <a
          class="flex justify-center items-center"
          href="https://www.linkedin.com/in/johan-steven-ramirez-murcia-95ab80295/"
          target="a_blank"
          rel="noopener"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2
        class="text-lg md:text-xl lg:text-2xl text-wrap max-w-[700px] text-black dark:text-white"
      >
        <span class="opacity-80">
          Estudiante de Ingeniería de Sistemas y desarollador Backend y Frontend
          con experiencia en diversos lenguajes de programación y tecnologias
          como
          <span class="text-[#52734D] dark:text-[#91C788]">
            HTML, CSS, JavaScript, C#, .NET, SparQl, MySQL, MongoDB, Node.js,
          </span>
          Entre otros. Siempre estoy en la búsqueda de nuevas oportunidades para
          aprender y desarrollar mis habilidades, con el objetivo de crear proyectos
          innovadores.
        </span>
      </h2>
      <nav class="flex gap-2 md:gap-4 mt-4 md:mt-8 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/johan-steven-ramirez-murcia-95ab80295/"
        >
          <LinkedIn class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Tom21-xd">
          <Github class="size-4 md:size-6" />
          Github
        </SocialPill>
        <SocialPill href="https://web.facebook.com/tom21xd/">
          <Facebook class="size-4 md:size-6" />
          Facebook
        </SocialPill>
        <SocialPill href="https://www.instagram.com/johanramirez48/">
          <Instagram class="size-4 md:size-6" />
          Instagram
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="Habilidades" , class="flex-wrap">
      <h2
        class="text-xl md:text-2xl font-semibold mb-10 md:mb-6 flex gap-x-2 md:gap-x-3 items-center text-black dark:text-white"
      >
        <Skill class="w-6 h-6 md:w-7 md:h-7" />
        Habilidades
      </h2>

      <div class="flex flex-wrap items-center justify-center">
        {
          habilidades.map((hab) => (
            <div class="skill ">
              <hab.icon class="size-20 skill-icon" />
              <span class="tooltip">{hab.name}</span>
            </div>
          ))
        }
      </div>
      <style>
        .skill {
          position: relative;
          display: inline-block;
          margin: 20px;
          transition: transform 0.3s ease-in-out;
        }

        .skill-icon {
          width: 60px;
          height: 60px;
          transition: transform 0.3s ease-in-out;
        }

        .tooltip {
          visibility: hidden;
          width: 80px;
          background-color: black;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: -70%;
          left: 50%;
          margin-left: -40px;
          opacity: 0;
          transition: opacity 0.3s;
        }

        .skill:hover .skill-icon {
          transform: scale(1.1);
        }

        .skill:hover .tooltip {
          visibility: visible;
          opacity: 1;
        }
      </style>
    </SectionContainer>
    <SectionContainer id="Experiencia">
      <h2
        class="text-xl md:text-2xl font-semibold mb-4 md:mb-6 flex gap-x-2 md:gap-x-3 items-center text-black dark:text-white"
      >
        <Maleta class="w-6 h-6 md:w-7 md:h-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="Proyectos">
      <h2
        class="text-xl md:text-2xl font-semibold mb-4 md:mb-6 flex gap-x-2 md:gap-x-3 items-center text-black dark:text-white"
      >
        <Code class="w-6 h-6 md:w-7 md:h-7" />
        Proyectos
      </h2>

      <Projects />
    </SectionContainer>
  </main>
</Layout>
