---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedIn from "../components/Icons/LinkedIn.astro";
import Github from "../components/Icons/Github.astro";
import Facebook from "../components/Icons/Facebook.astro";
import Instagram from "../components/Icons/Instagram.astro";
import Experience from "../components/Experience.astro";
import Maleta from "../components/Icons/Maleta.astro";
import Skill from "../components/Icons/Skill.astro";
import Code from "../components/Icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Portafolio de tom - Desarrollador web" description="Waos">
  <main class="px-4">
    <SectionContainer class="py-24 md:py-36 pb-16 md:pb-24">
      <img
        src="/waos.jpg"
        alt="Tom-photo"
        class="rounded-full w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 mb-4"
      />

      <h1
        class="text-white text-2xl md:text-3xl lg:text-4xl font-bold flex flex-row gap-x-4 pb-4 md:pb-6 lg:pb-10"
      >
        Hola, Soy Johan
        <a
          class="flex justify-center items-center"
          href="https://www.linkedin.com/in/johan-steven-ramirez-murcia-95ab80295/"
          target="a_blank"
          rel="noopener"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-lg md:text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span class="opacity-80">
          Estudiante de Ingeniería de Sistemas con una sólida formación en
          diversos lenguajes de programación, incluyendo
        </span>
        <span class="text-purple-400"> C++, C#, Java y Python </span>
        <span class="opacity-80">. Tengo experiencia en el </span>
        <span class="text-purple-400"
          >diseño y administración de bases de datos</span
        >
        <span class="opacity-80">
          . Siempre estoy en la búsqueda de nuevas oportunidades para aprender y
          desarrollar mis habilidades, con el objetivo de crear proyectos
          innovadores.
        </span>
      </h2>
      <nav class="flex gap-2 md:gap-4 mt-4 md:mt-8 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/johan-steven-ramirez-murcia-95ab80295/"
        >
          <LinkedIn class="w-4 h-4 md:w-6 md:h-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Tom21-xd">
          <Github class="w-4 h-4 md:w-6 md:h-6" />
          Github
        </SocialPill>
        <SocialPill href="https://web.facebook.com/tom21xd/">
          <Facebook class="w-4 h-4 md:w-6 md:h-6" />
          Facebook
        </SocialPill>
        <SocialPill href="https://www.instagram.com/johanramirez48/">
          <Instagram class="w-4 h-4 md:w-6 md:h-6" />
          Instagram
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="Experiencia">
      <h2
        class="text-xl md:text-2xl font-semibold mb-4 md:mb-6 flex gap-x-2 md:gap-x-3 items-center"
      >
        <Maleta class="w-6 h-6 md:w-7 md:h-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="Habilidades">
      <h2
        class="text-xl md:text-2xl font-semibold mb-4 md:mb-6 flex gap-x-2 md:gap-x-3 items-center"
      >
        <Skill class="w-6 h-6 md:w-7 md:h-7" />
        Habilidades
      </h2>
    </SectionContainer>

    <SectionContainer id="Proyectos">
      <h2
        class="text-xl md:text-2xl font-semibold mb-4 md:mb-6 flex gap-x-2 md:gap-x-3 items-center"
      >
        <Code class="w-6 h-6 md:w-7 md:h-7" />
        Proyectos
      </h2>

      <Projects />
    </SectionContainer>
  </main>
</Layout>
