---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Keffyx">
  <main>
    <section class="w-full mx-auto lg:w-[740] mx-auto py-44">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hola, Somos Keffyx
        <div class="flex justify-center items-center">
          <Badge>Disponible</Badge>
        </div>
      </h1>
      <h2 class="text-1xl">Descripcion</h2>
    </section>
  </main>
</Layout>
