---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Proyectos" description="Waos">
  <div class="mt-16 mr-10 ml-10">
    <Projects />
  </div>
</Layout>
