---
interface Props {
  title: string;
  description: string;
  date: string;
  link?: string;
}
const { title, description, date, link } = Astro.props;
---

<div
  class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border border-gray-900 bg-[#EF4444]"
>
</div>
<time class="mb-4 text-sm font-normal leading-none text-black dark:text-white"
  >{date}</time
>
<h3 class="text-2xl font-normal text-[#EF4444] mt-5">
  {title}
</h3>
<p
  class="my-2 text-base font-normal text-gray-600 dark:text-gray-400 text-pretty"
>
  {description}
</p>
{
  link && (
    <a
      href={link}
      class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
    >
      Saber mas ...
      <svg
        class="w-3 h-3 ms-2 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"
        />
      </svg>
    </a>
  )
}
