---
const nav_items = [
  { title: "Inicio", label: "Inicio", url: "/#top" },
  { title: "Sobre mi", label: "Sobre mi", url: "/#sobre-mi" },
  { title: "Experiencia", label: "Experiencia", url: "/#Experiencia" },
  { title: "Proyectos", label: "Proyectos", url: "/#Proyectos" },
  {
    title: "Contacto",
    label: "Contacto",
    url: "mailto:johans.ramirez@udla.edu.co",
  },
];
import Tema from "./Tema.astro";
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    {
      nav_items.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-[#52734D] dark:hover:text-[#91C788]"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
    <Tema />
  </nav>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur-3xl ring-black dark:ring-white;
    }
  }
</style>
