<header class="flex justify-center items-center py-3 w-[1120px] mx-auto">
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
