<header class="flex justify-center items-center py-3 xl:w-[1120px] mx-auto">
  <nav class="flex flex-col gap-x-10 gap-5 opacity-80">
    <a href="#top">Inicio</a>
    <a href="#sobre-mi">Sobre mi</a>
    <a href="#Experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
<style>
  @media (min-width: 490px) {
    nav {
      flex-direction: row;
    }
  }
</style>
