<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
  <img
    src="/Logo oficial por x tiempo.png"
    alt="keffyx-photo"
    class="rounded-full w-12 h-12"
  />
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
