<svg
  {...Astro.props}
  fill="currentColor"
  width="256px"
  height="256px"
  viewBox="0 0 32 32"
  id="icon"
  xmlns="http://www.w3.org/2000/svg"
  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
    id="SVGRepo_tracerCarrier"
    stroke-linecap="round"
    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
    <defs>
      <style>
        .cls-1 {
          fill: none;
        }
      </style>
    </defs>
    <title>skill-level--advanced</title>
    <path d="M30,30H22V4h8Z"></path>
    <path d="M20,30H12V12h8Z"></path>
    <path d="M10,30H2V18h8Z"></path>
    <rect
      id="_Transparent_Rectangle_"
      data-name="<Transparent Rectangle>"
      class="cls-1"
      width="32"
      height="32"></rect>
  </g></svg
>
